{#
/**
 * @file
 * Theme override to display help text for file fields.
 *
 * Available variables:
 * - descriptions: Lines of help text for uploading a file.
 *
 * @see template_preprocess_file_upload_help()
 */
#}

{%
  set helper_classes = [
    'mdc-text-field-helper-line',
  ]
%}

{%
  set helper_attributes = create_attribute()
    .addClass(helper_classes)
%}

{%
  set description_classes = [
    'mdc-text-field-helper-text',
    'mdc-text-field-helper-text--persistent',
  ]
%}

{%
  set description_attributes = create_attribute()
    .addClass(description_classes)
%}

<div{{ helper_attributes }}>
  <div{{ description_attributes }}>{{ descriptions|safe_join('<br />') }}</div>
</div>
