{#
/**
 * @file
 * Theme override for a form element.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - errors: (optional) Any errors for this form element, may not be set.
 * - prefix: (optional) The form element prefix, may not be set.
 * - suffix: (optional) The form element suffix, may not be set.
 * - required: The required marker, or empty if the associated form element is
 *   not required.
 * - type: The type of the element.
 * - name: The name of the element.
 * - label: A rendered label element.
 * - label_display: Label display setting. It can have these values:
 *   - before: The label is output before the element. This is the default.
 *     The label includes the #title and the required marker, if #required.
 *   - after: The label is output after the element. For example, this is used
 *     for radio and checkbox #type elements. If the #title is empty but the
 *     field is #required, the label will contain only the required marker.
 *   - invisible: Labels are critical for screen readers to enable them to
 *     properly navigate through forms but can be visually distracting. This
 *     property hides the label for everyone except screen readers.
 *   - attribute: Set the title attribute on the element to create a tooltip but
 *     output no label element. This is supported only for checkboxes and radios
 *     in \Drupal\Core\Render\Element\CompositeFormElementTrait::preRenderCompositeFormElement().
 *     It is used where a visual label is not needed, such as a table of
 *     checkboxes where the row and column provide the context. The tooltip will
 *     include the title and required marker.
 * - description: (optional) A list of description properties containing:
 *    - content: A description of the form element, may not be set.
 *    - attributes: (optional) A list of HTML attributes to apply to the
 *      description content wrapper. Will only be set when description is set.
 * - description_display: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element. This is the default
 *     value.
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - disabled: True if the element is disabled.
 * - title_display: Title display setting.
 *
 * @see template_preprocess_form_element()
 */
#}

{% if mdc.skip %}
  {% include '@bootstrapper/form/form-element.html.twig' %}
{% else %}
  {%
    set init_attributes = [
      'MDCTextField'
    ]
  %}

  {%
    set classes = [
      'js-form-item',
      'form-item',
      'js-form-type-' ~ type|clean_class,
      'form-type-' ~ type|clean_class,
      'js-form-item-' ~ name|clean_class,
      'form-item-' ~ name|clean_class,
      errors ? 'form-item--error',
  ]
  %}

  {%
    set telephone_classes = [
      'mdc-text-field',
      mdc.telephone.variant == 'outlined' ? 'mdc-text-field--outlined',
      mdc.icon and mdc.icon.leading and mdc.icon.leading.content ? 'mdc-text-field--with-leading-icon',
      mdc.icon and mdc.icon.trailing and mdc.icon.trailing.content ? 'mdc-text-field--with-trailing-icon',
      not title_display ? 'mdc-text-field--no-label',
      disabled == 'disabled' ? 'mdc-text-field--disabled',
    ]
  %}

  {%
    set telephone_attributes = create_attribute()
      .addClass(telephone_classes)
      .setAttribute('data-mdc-auto-init', init_attributes)
  %}

  {%
    set helper_classes = [
      'mdc-text-field-helper-line',
    ]
  %}

  {%
    set helper_attributes = create_attribute()
      .addClass(helper_classes)
  %}

  {%
    set description_classes = [
      'mdc-text-field-helper-text',
      'mdc-text-field-helper-text--persistent',
      not description_display ? 'visually-hidden',
    ]
  %}

  {%
    set description_attributes = description.attributes
      .removeClass('form-text')
      .removeClass('text-muted')
      .addClass(description_classes)
  %}

  <div{{ attributes.addClass(classes) }}>
    {% if prefix is not empty %}
      <div class="field-prefix">{{ prefix }}</div>
    {% endif %}
    <div{{ telephone_attributes }}>
      {{ children }}
    </div>
    <div{{ helper_attributes }}>
      {% if description.content %}
        <div{{ description_attributes }}>{{ description.content }}</div>
      {% endif %}
      {% if mdc.counter %}
        <div class="mdc-text-field-character-counter"></div>
      {% endif %}
      {% if suffix is not empty %}
        <div class="field-suffix">{{ suffix }}</div>
      {% endif %}
      <div class="mdc-text-field-helper-text--validation-msg">
        {% if errors %}
          <div class="form-item--error-message">{{ errors }}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
