{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if mdc.skip %}
  {% include '@bootstrapper/form/input.html.twig' %}
{% else %}
  {%
    set init_attributes = [
      mdc.password.variant == 'default' ? 'MDCRipple'
    ]
  %}

  {%
    set attributes = attributes
      .removeClass('form-text')
      .removeClass('form-control')
      .addClass('mdc-text-field__input')
      .setAttribute('data-mdc-auto-init', init_attributes)
  %}
  {% if mdc.icon and mdc.icon.leading and mdc.icon.leading.content %}
    <i class="material-icons mdc-text-field__icon">{{ mdc.icon.leading.content }}</i>
  {% endif %}
  <input{{ attributes }} />{{ children }}
  {% if mdc.icon and mdc.icon.trailing and mdc.icon.trailing.content %}
    <i class="material-icons mdc-text-field__icon">{{ mdc.icon.trailing.content }}</i>
  {% endif %}
  {% if mdc.password.variant == 'default' %}
    <div class="mdc-line-ripple"></div>
    {% if label and label_display %}
      <label for="{{ attributes.id }}" class="mdc-floating-label">{{ label }}</label>
    {% endif %}
  {% endif %}
  {% if mdc.password.variant == 'outlined' %}
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        {% if label and label_display %}
          <label for="{{ attributes.id }}" class="mdc-floating-label">{{ label }}</label>
        {% endif %}
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  {% endif %}
{% endif %}
