{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if mdc.skip %}
  {% include '@bootstrapper/form/input.html.twig' %}
{% else %}
  {%
    set init_attributes = [
      'MDCRipple'
    ]
  %}

  {%
    set classes = [
      'mdc-button',
      mdc.button.variant == 'outlined' ? 'mdc-button--outlined',
      mdc.button.variant == 'raised' ? 'mdc-button--raised',
      mdc.button.variant == 'unelevated' ? 'mdc-button--unelevated',
    ]
  %}

  {%
    set attributes = attributes
      .addClass(classes)
      .setAttribute('data-mdc-auto-init', init_attributes)
  %}

  <button{{ attributes }}>
    {% if mdc.icon and mdc.icon.button and mdc.icon.button.content %}
      <i class="material-icons mdc-button__icon">{{ mdc.icon.button.content }}</i>
    {% endif %}
    <span class="mdc-button__label">{{ attributes.value }}</span>
  </button>
  {{ children }}
{% endif %}
