{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if mdc.skip %}
  {% include '@bootstrapper/form/input.html.twig' %}
{% else %}
  {%
    set attributes = attributes
      .removeClass('form-control')
      .addClass('mdc-radio__native-control')
  %}

  <input{{ attributes }} />{{ children }}
  <div class="mdc-radio__background">
    <div class="mdc-radio__outer-circle"></div>
    <div class="mdc-radio__inner-circle"></div>
  </div>
{% endif %}
