{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if mdc.skip %}
  {% include '@bootstrapper/form/input.html.twig' %}
{% else %}
  {%
    set init_attributes = [
      'MDCRipple'
    ]
  %}

  {%
    set button_classes = [
      'mdc-button',
      mdc.button.variant == 'outlined' ? 'mdc-button--outlined',
      mdc.button.variant == 'raised' ? 'mdc-button--raised',
      mdc.button.variant == 'unelevated' ? 'mdc-button--unelevated',
    ]
  %}

  {%
    set button_attributes = create_attribute()
      .addClass(button_classes)
      .setAttribute('data-mdc-auto-init', init_attributes)
  %}

  <div id="ajax-wrapper">
    <div class="file-field input-field">
      <button{{ button_attributes }}>
        <span class="mdc-button__label">Choose File</span>
        <input type="file" {{ attributes }} multiple>
      </button>
      <span class="file-path" data-placeholder="Choose file(s) to upload">Choose file(s) to upload</span>
    </div>
  </div>
{% endif %}
