{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if mdc.skip %}
  {% include '@bootstrapper/form/input.html.twig' %}
{% else %}
  {%
    set attributes = attributes
      .removeClass('form-control')
      .addClass('mdc-checkbox__native-control')
  %}

  <input{{ attributes }} />{{ children }}
  <div class="mdc-checkbox__background">
    <svg class="mdc-checkbox__checkmark"
         viewBox="0 0 24 24">
      <path class="mdc-checkbox__checkmark-path"
            fill="none"
            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
    </svg>
    <div class="mdc-checkbox__mixedmark"></div>
  </div>
{% endif %}
