{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 */
#}

{% if mdc.skip %}
  {% include '@bootstrapper/form/select.html.twig' %}
{% else %}

  {%
    set attributes = attributes
      .removeClass('form-select')
      .removeClass('form-control')
  %}

  {%
    set select_classes = [
      'mdc-select',
      mdc.select.variant == 'outlined' ? 'mdc-select--outlined',
      mdc.icon and mdc.icon.leading and mdc.icon.leading.content ? 'mdc-select--with-leading-icon',
      not title_display ? 'mdc-select--no-label',
      disabled == 'disabled' ? 'mdc-select--disabled',
      attributes.required is not null ? 'mdc-select--required',
    ]
  %}

  {%
    set select_attributes = create_attribute()
    .addClass(select_classes)
    .setAttribute('data-mdc-auto-init', init_attributes)
    .setAttribute('id', 'mdc-select-' ~ attributes.id)
  %}

  <div{{ select_attributes }}>
    <input type="hidden" {{ attributes }}>

    <div class="mdc-select__anchor">
      <i class="mdc-select__dropdown-icon"></i>
      <div class="mdc-select__selected-text"></div>

      {% if mdc.select.variant == 'default' %}
        {% if label and label_display %}
          <span class="mdc-floating-label">{{ label }}</span>
        {% endif %}
        <div class="mdc-line-ripple"></div>
      {% elseif mdc.select.variant == 'outlined' %}
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <span class="mdc-floating-label">{{ label }}</span>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      {% endif %}
    </div>


    <div class="mdc-select__menu mdc-menu mdc-menu-surface" role="listbox">
      <ul class="mdc-list">
        {% for option in options %}
          <li class="mdc-list-item {{ option.selected ? 'mdc-list-item--selected' }}" data-value="{{ option.value }}" role="option">{{ option.label }}</li>
        {% endfor %}
      </ul>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function(){
        const select = new mdc.select.MDCSelect(document.getElementById('{{ 'mdc-select-' ~ attributes.id }}'));
        select.listen('MDCSelect:change', function() {
          document.getElementById('{{ attributes.id }}').value = select.value;
        });
      }, false);
    </script>
  </div>

{% endif %}
