{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{% if mdc.skip %}
  {% include '@bootstrapper/form/textarea.html.twig' %}
{% else %}
  {%
    set classes = [
      'form-textarea',
      resizable ? 'resize-' ~ resizable,
      required ? 'required',
    ]
  %}

  {%
    set attributes = attributes
      .removeClass('form-textarea')
      .removeClass('form-control')
      .addClass('mdc-text-field__input')
      .addClass(classes)
  %}

  {% if (attributes.maxlength) %}
    {%
      set attributes = attributes.setAttribute('maxlength',  attributes.maxlength)
    %}
  {% elseif (mdc.textarea.counter == true and mdc.textarea.maxlength != false) %}
    {%
      set attributes = attributes.setAttribute('maxlength',  mdc.textarea.maxlength)
    %}
  {% endif %}

  <textarea{{ attributes }}>{{ value }}</textarea>
  <div class="mdc-notched-outline mdc-notched-outline--upgraded">
    <div class="mdc-notched-outline__leading"></div>
    <div class="mdc-notched-outline__notch">
      {% if label and label_display %}
        <label for="{{ attributes.id }}" class="mdc-floating-label">{{ label }}</label>
      {% endif %}
    </div>
    <div class="mdc-notched-outline__trailing"></div>
  </div>
{% endif %}

