// Skin Colors.
@mixin mdbs-theme-generate-skin-colors($skin: null) {
  @if ($skin != null) {
    $base: #{map_deep_get($skin, 'colors', 'base')};
    $dark: #{map_deep_get($skin, 'colors', 'dark')};

    @if ($base != null and $base != '') {
      --mdc-theme-primary: #{$base};
    }

    @if ($dark != null and $dark != '') {
      --mdc-theme-secondary: #{$dark};
    }
  }
}

@mixin mdbs-theme-generate-skin($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    @include mdbs-theme-generate-skin-colors($skin);
  }
}

@mixin mdbs-theme-populate-skins($theme-skins) {
  @each $skin_name, $skin in $theme-skins {
    @if ($skin != null and type_of($skin) == map) {
      .page-skin--#{$skin_name} {
        @include mdbs-theme-generate-skin($skin);
      }
    }
  }
}

