{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{%
  set drawer_classes = [
    'mdc-drawer',
    mdc.drawer.variant == 'dismissible' ? 'mdc-drawer--dismissible',
    mdc.drawer.variant == 'modal' ? 'mdc-drawer--modal',
]
%}

{%
  set drawer_attributes = create_attribute()
    .addClass(drawer_classes)
    .setAttribute('data-mdc-auto-init', init_attributes)
%}

{% if mdc.drawer.side == 'right' %}
  {%  set drawer_attributes = drawer_attributes.setAttribute('dir', 'rtl') %}
{% endif %}

{%
  set drawer_content_classes = [
    'mdc-drawer__content',
  ]
%}

{%
  set drawer_content_attributes = create_attribute()
    .addClass(drawer_content_classes)
%}

{% if mdc.drawer.side == 'right' %}
  {%  set drawer_content_attributes = drawer_content_attributes.setAttribute('dir', 'ltr') %}
{% endif %}

<aside{{ drawer_attributes }}>
  <div{{ drawer_content_attributes }}>
    {{ content }}

{#    <nav class="mdc-list">#}
{#      <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">#}
{#        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>#}
{#        <span class="mdc-list-item__text">Inbox</span>#}
{#      </a>#}
{#      <a class="mdc-list-item" href="#">#}
{#        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>#}
{#        <span class="mdc-list-item__text">Outgoing</span>#}
{#      </a>#}
{#      <a class="mdc-list-item" href="#">#}
{#        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>#}
{#        <span class="mdc-list-item__text">Drafts</span>#}
{#      </a>#}
{#    </nav>#}

  </div>
</aside>
{% if mdc.drawer.variant == 'modal' %}
  <div class="mdc-drawer-scrim"></div>
{% endif %}
