button:focus, button.focus,
.btn:focus, .btn.focus,
.btn-primary:focus, .btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus
{
  outline: 0;
  box-shadow: none;
}

.mdc-button {
  height: auto;
}

.mdc-button--outlined:not(:disabled) {
  border-color: inherit;
}
