.form-type-checkbox {
  padding-left: 0;

  .mdc-checkbox, label {
    vertical-align: middle;
  }

  .form-check-input[type='checkbox'] {
    margin-left: 0;
  }

  label {
    display: inline-block;
    max-width: calc(100% - 44px);
  }
}
