.file-field {
  button {
    display: inline-block;
    position: relative;
    padding: 10px 16px;
  }

  input[type=file] {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }

  .file-path {
    padding-left: 8px;
  }
}
