.form-type-radio {
  padding-left: 0;

  .mdc-radio, label {
    vertical-align: middle;
  }

  .form-check-input[type='radio'] {
    margin-left: 0;
  }

  label {
    display: inline-block;
    max-width: calc(100% - 44px);
  }
}

