.mdc-select {
  width: 100%;

  .mdc-select__anchor, .mdc-select__menu {
    width: 100%;
  }

  .mdc-floating-label {
    vertical-align: text-top;
  }

}

// hot fix
// https://github.com/material-components/material-components-web/issues/2718
// parent: https://github.com/material-components/material-components-web/issues/4709
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}
