.mdc-text-field {
  width: 100%;
}

.mdc-floating-label {
  vertical-align: text-bottom;
}

.mdc-notched-outline {
  top: 0;
}

// hot fix
// https://github.com/material-components/material-components-web/issues/2718
// parent: https://github.com/material-components/material-components-web/issues/4709
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}
