form[class*="webform"] {
  .mdc-text-field--textarea {
    flex-direction: column;

    .text-count-wrapper {
      text-align: right;
      font-size: 12px;
      padding: 0 16px 13px 0;
      color: rgba(0, 0, 0, 0.6);
      font-family: Roboto, sans-serif;
      font-weight: normal;

      &.webform-counter-warning {
        color: red;
      }
    }
  }
}
